*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

html,
body {
  font-family: "Red Hat Display", sans-serif;

  box-sizing: border-box;

  margin: 0;

  width: 375px;
}

@media screen and (min-width: 768px) {
  html,
  body {
    width: 768px;
  }
}

figure,
p {
  margin: 0;
}

h1 {
  margin: 48px 24px 24px 24px;
  font-size: 40px;
  font-style: normal;
  line-height: 44px;
  font-weight: 900;
  text-align: center;
  color: #28283d;
}

/* @media screen and (min-width: 768px) {
  h1 {

  }} */

h2 {
  margin: 24px;
  font-size: 32px;
  font-style: normal;
  line-height: 36px;
  font-weight: 900;
  text-align: center;
  color: #28283d;
}
@media screen and (min-width: 768px) {
  h2 {
    margin: 24px 97px 24px 98px;
  }
}

h3 {
  margin: 64px 24px 24px 24px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4d96a9;
  text-align: center;
}

@media screen and (min-width: 768px) {
  h3 {
    margin: 64px 97px 24px 98px;
  }
}

p {
  margin: 24px 24px 32px 24px;
  color: #87879d;
  text-align: center;
}

@media screen and (min-width: 768px) {
  p {
    margin: 24px 97px 32px 98px;
  }
}

.logo {
  display: block;
  margin: 48px auto 64px auto;
}

/* Masthead Grid
------------------------------ */
.masthead-left {
  grid-area: hero-left;
  position: relative;
  left: -20px;
}

@media screen and (min-width: 768px) {
  .masthead-left {
    left: -26px;
  }
}

@media screen and (min-width: 992px) {
  .masthead-left {
    left: -32px;
  }
}

.masthead-right {
  grid-area: hero-right;
  position: relative;
  display: none;
}

@media screen and (min-width: 768px) {
  .masthead-right {
    display: block;
    right: -26px;
  }
}

@media screen and (min-width: 992px) {
  .masthead-right {
    display: block;
    right: -32px;
  }
}

.masthead-main {
  grid-area: main;
  width: 375px;
}

@media screen and (min-width: 768px) {
  .masthead-main {
    width: 457px;
    height: 262px;
  }
}

.masthead-box {
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: auto;
  grid-template-areas:
    "hero-left"
    "main";
}

@media screen and (min-width: 768px) {
  .masthead-box {
    grid-template-columns: 410px 410px;
    grid-template-rows: auto auto;
    grid-template-areas:
      "hero-left hero-right"
      "main main";
    /* justify-content: space-between; */
    /* align-items: center; */
    justify-items: center;
    /* column-gap: 32px; */
  }
}

@media screen and (min-width: 992px) {
  .masthead-box {
    grid-template-columns: 410px 457px 410px;
    grid-template-areas: "hero-left main hero-right";
  }
}

/* .masthead-pic {
  position: relative;
  left: -20px;
} */

/* @media screen and (min-width: 768px) {
  .masthead-pic {
    left: -26px;
  }
} */

.reason01 {
  margin-top: 64px;
}

.button-group-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 164px;
}

@media screen and (min-width: 768px) {
  .button-group-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
    height: 58px;
  }
}

.button1 {
  width: auto;
  max-width: 193px;
  height: 58px;
  border-radius: 100px;
  background-color: #4d96a9;
  font-weight: 900;
  border: none;
  padding: 0px 20px 0px 20px;
}

.button2 {
  width: auto;
  max-width: 193px;
  height: 58px;
  border-radius: 100px;
  background-color: #855fb1;
  color: #ffffff;
  font-weight: 900;
  border: none;
  padding: 0px 20px 0px 20px;
  /* margin-top: 16px; */
}

.button1:hover {
  background-color: #71c0d4;
}
.button2:hover {
  background-color: #b18bdd;
}

.reason01 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vertical-line {
  border: 1px solid #87879d;
  height: 84px;
  width: 0.5px;
  left: 50%;
}

.circle {
  border: 1px solid #87879d;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  color: #87879d;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  background-color: #ffffff;
  z-index: 3;
}

.people-pic-grid {
  display: grid;
  grid-template-columns: repeat(2, 151px);
  grid-template-rows: repeat(2, 143px);
  grid-gap: 25px;
  margin: 64px 24px;
}

@media screen and (min-width: 768px) {
  .people-pic-grid {
    display: grid;
    grid-template-columns: repeat(4, 164px);
    grid-template-rows: auto;
    grid-gap: 11px;
    margin: 64px 39px;
  }
}

.reason02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-pic-box {
  background-color: rgba(77, 150, 168, 1);
  background-blend-mode: darken;
}

img.woman-working-pic {
  opacity: 0.2;
}

.footer-pic-box {
  position: relative;
}

.desc-02 {
  position: absolute;
  top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .desc-02 {
    top: 92px;
  }
}
